.Login {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(./loader-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.Login-inner {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background: linear-gradient(135deg, #72cc28 0%,#19c1d1 100%);
    color: #fff;
    box-shadow: #000 0 0 10px;
    padding: 20px;
}

.Login h1, .Login h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.Login input.password {
    -webkit-text-security: disc;
}

.Login-spinner {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.Login-spinner .mdl-spinner {
    width: 50px;
    height: 50px;
}