.Orders h2 {
    text-align: center;
    margin: 0 0 10px;
}

.Orders .Order {
    margin: 0 0 10px;
}
.Orders .Order .mdl-card {
    margin: 0 auto;
}
.Orders .Order .mdl-card h6 {
    text-align: center;
    margin: 15px 0 0;
}
.Orders .Order .mdl-card__supporting-text {
    width: 100%;
}