.Orders {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #72cc28 0%,#19c1d1 100%);
    color: #fff;
    padding: 5px;
    overflow: scroll;
}
.Orders h2 {
    text-align: center;
    margin: 0 0 10px;
}

.Orders .Order {
    margin: 0 0 10px;
}
.Orders .Order .mdl-card {
    margin: 0 auto;
}
.Orders .Order .mdl-card h6 {
    text-align: center;
    margin: 15px 0 0;
}
.Orders .Order .mdl-card__supporting-text {
    width: 100%;
}